<section>
   <div class="raw mt-4">
        

      </div>
    <div class="container">
     
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col"></th></th>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
      <th scope="col">Pincode</th>
      <th scope="col">Price</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Status</th>
      
      
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.date}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td>{{this.deliveryDetails.mobile}}</td>
      <td>{{this.deliveryDetails.pincode}}</td>
       <td>{{this.deliveryDetails.totalAmount}}</td>
       <td>{{this.paymentMethod}}</td>
       <td>{{this.status}}</td>
       
      
      <td ><a href="/view-order-products/{{this._id}}" class="btn btn-danger">View Products</a></td>
      

    </tr>
    {{/each}}
   
  </tbody>
</table>
    </div>
</section>